@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.custom-shadow{
    box-shadow:
            20px 20px 40px 10px rgba(220, 220, 220, 0.3),
            -2px -2px 20px 0 rgba(220, 220, 220, 0.3);
}
.custom-shadow-black{
    box-shadow:
            20px 20px 40px 10px rgba(0,0,0,0.2),
            -2px -2px 20px 0 rgba(0,0,0,0.2);
}

